.bottom-slider {

  &-block {
    @apply w-full h-auto max-w-[750px] flex flex-col justify-center bg-brand-blue text-white fixed bottom-0 right-0 px-48px py-32px sm:pb-[88px] z-50 border border-blue-1 border-b-0 border-r-0;
    transition: transform 0.5s ease;
    transform: translateX(100%);

    &.loaded {
      transform: translateX(0%);
    }

    &.overlay-color {
      @apply !border-0;
    }

    &-title {
      @apply max-w-[635px] pr-24px z-50 relative;

      &.overlay-color {
        @apply !text-white;
      }
    }

    &-description {
      @apply max-w-[635px] pr-24px z-50 relative;

      &.overlay-color {
        @apply !text-white;
      }

      @media( max-width: 767px) {
        @apply hidden;
      }
    }

    .btn-solid {
      @apply z-50 relative;

      &.btn-lg {

        @media(max-width: 767px) {
          @apply pl-12px pr-44px py-4px; 

          &::after {
            right: 12px;
          }
        }
      }
    }

    &-close {
      @apply w-[22px] h-[22px] relative cursor-pointer;
      cursor: pointer;
      mask-image: url("../assets/close.svg");
      mask-size: contain;
      mask-repeat: no-repeat;
      background-color: white;
      transition: all 150ms ease;

      &-container {
        @apply absolute top-0 right-0 z-50 cursor-pointer p-16px;
        transition: all 150ms ease;

        &:hover {
          @apply bg-blue-1;
        }

        &.overlay-color {
          .bottom-slider-block-close {
            background-color: white;
          }

          &:hover {
            background-color: #2E2E2E;
          }
        }
      }
    }

    &-overlay {
      &-darken {
        @apply z-40 bg-black absolute top-0 left-0 w-full h-full;
        opacity: 0.65;
      }

      &-image {
        @apply z-30 absolute top-0 left-0 w-full h-full object-cover object-center;
      }
    }


    @media(min-width: 768px) and (max-width: 1440px) {
      @apply max-w-[50%] py-32px;
    }

    @media(min-width: 768px) and (max-height: 600px) {
      @apply pb-32px;
      
      .bottom-slider-block-description {
        @apply hidden;
      }
    }
  }
}

[data-theme="dark"] {
  .bottom-slider {

    &-block {

      &-title {
        @apply !text-black;

        &.overlay-color {
          @apply !text-white;
        }
      }

      &-description {
        @apply !text-black;

        &.overlay-color {
          @apply !text-white;
        }
      }

      &-close {
        background-color: black;

        &-container { 

          &:hover {
            .bottom-slider-block-close {
              background-color: white;
            }
          }

          .overlay-color {
            .bottom-slider-block-close {
              background-color: white;
            }
          }
        }
      }

      .btn-solid {
        @apply bg-blue-1 text-white;

        &.btn-arrow {

          &:after {
            @apply bg-white;
          }
        }

        &:before {
          @apply bg-blue-2;
        }
      }
    }
  }
}