.industries-banner {
  &-container {
  }

  &-text {
    @apply ml-16px sm:ml-40px md:ml-52px pt-16px sm:pt-40px md:mb-32px mb-12px sm:mb-16px md:px-0;
    color: var(--white) !important;
    max-width: 1800px !important;

    @media (min-width: 1800px) {
      margin: 0 auto !important;
    }

    .industries-banner-supertitle {
      @apply fs-0 regular-work-sans uppercase;
      letter-spacing: 2px;
    }
  }

  &-asset {
    @apply pb-32px mr-auto w-full md:py-0;

    @media (max-width: 768px) {
      max-height: 366px;
    }

    @media (max-width: 1440px) {
      height: 575px;
    }

    @media (min-width: 1920px) {
      max-width: 2100px !important;
      max-height: 825px !important;
    }

    /* img {
      @apply mx-auto;
      @media (min-width: 1440px) {
        max-width: 1200px !important;
        max-height: 875px !important;
      }
    } */

    img {
      @apply mr-auto h-full;
    }

    &-wrapper {
      @apply flex flex-col;
      width: calc(100% - 16px);
      max-height: 900px;
      height: auto;
      /* background-color: var(--data-viz-blue-2); */
      -webkit-text-fill-color: initial !important;
      clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
      transition: ease 1000ms all;

      &.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
      }

      @media (min-width: 768px) {
        max-width: 90%;
      }

      /*
      .bar-row {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        -webkit-text-fill-color: initial !important;
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
        transition: ease 1000ms all;

        &.active {
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          .bar-text-line.is-animating {
            animation: linereveal 0.5s ease 0.2s forwards,
              lineslideIndustries 1.5s ease 0.5s forwards;
          }
        }

        .bar-numbered-block {
          @apply pl-16px sm:pl-40px md:pl-64px;
          background-color: rgba(255, 255, 255, 0.8);
          margin-left: 0px;

          &:before {
            display: none;
          }
        }

        .bar-text-block {
          @apply sm:pr-32px pr-0;
          background-color: rgba(255, 255, 255, 0.8);
          margin-left: 0px;
          max-width: 300px;
        }

        .bar-numbered-overlay {
          @apply z-50 w-full;

          clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
          &.active {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
          }
        }

        .bar-text-line {
          height: 100%;
          top: 0;
          background-color: rgba(255, 255, 255, 0.8);
        }
      }
      */
    }
  }

  &-cta {
    @apply pl-16px sm:pl-44px h-full;
    height: auto;
    right: 0;
    color: var(--white);
    background-color: var(--sample-wp-node-blue);
    clip-path: url("#page-medium-image-mask");

    &.active {
      @apply z-30;
    }

    @media (max-width: 768px) {
      max-height: 350px;
    }

    .banner-text {
      @apply pr-16px pt-52px relative;
      min-width: 200px;
      max-width: 600px;
      height: 100%;
      padding-bottom: 64px;

      &-title {
        overflow: hidden;
        max-height: 54px;

        @media (min-width: 768px) {
          max-height: 54px;
        }

        @media (min-width: 1440px) {
          max-height: 64px;
        }
      }

      &-body {
        @apply mt-12px;

        overflow: hidden;
        max-height: 94px;

        @media (min-width: 768px) {
          max-height: 94px;
        }

        @media (min-width: 1440px) {
          max-height: 118px;
        }
      }
    }

    &-wrapper {
      width: calc(100% - 16px);
      @apply right-0 z-50 ml-auto sm:w-2/3 md:w-1/2;
      height: auto;
      /* transform: translateY(-25%); */
      -webkit-transform: translateY(-25%) translateZ(0);
      -moz-transform: translateY(-25%) translateZ(0);
      -ms-transform: translateY(-25%) translateZ(0);
      -o-transform: translateY(-25%) translateZ(0);
      transform: translateY(-25%) translateZ(0);

      clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
      transition: ease 1000ms all;
      max-width: 960px;
      position: relative;

      @media (min-width: 1440px) {
        /* transform: translateY(-45%); */
        -webkit-transform: translateY(-45%) translateZ(0);
        -moz-transform: translateY(-45%) translateZ(0);
        -ms-transform: translateY(-45%) translateZ(0);
        -o-transform: translateY(-45%) translateZ(0);
        transform: translateY(-45%) translateZ(0);
      }

      &.active {
        clip-path: polygon(0 0, 150% -100%, 150% 150%, 0% 150%);
      }

      .banner-noodles {
        &::before {
          content: "";
          mask-image: url("../assets/s-banner-noodles.svg");
          mask-repeat: no-repeat;
          mask-position: left;
          mask-size: contain;
          z-index: 30;
          position: absolute;
          right: 0;
          top: -37px;
          width: 300px;
          background: var(--sample-wp-node-blue) !important;
          height: 47px;
        }
      }

      .cta-overlay {
        height: 120%;
        width: 100%;
        background-color: var(--page-bg);
        transition: all 500ms ease;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 20;

        &.active {
          width: 0;
        }
      }

      .banner-btn {
        @apply absolute z-40;
        left: 40px;
        bottom: -25px;
      }
    }
  }
}

/* Set Keyframes for animations of yellow bar */
@keyframes lineslideIndustries {
  0% {
    left: 0px;
    opacity: 1;
  }
  100% {
    left: 105%;
    opacity: 1;
  }
}
