.media-page {
  &-section {
    @apply px-16px mt-72px mb-0 sm:mb-88px md:mx-auto;
    max-width: 1800px;

    .media-page-title-wrapper {
      @apply mb-32px sm:mb-56px md:mb-72px;

      .media-page-supertitle {
        @apply text-gray-3 fs-0 uppercase;
        letter-spacing: 2px;
      }

      .media-page-title {
        @apply text-gray-1 bold-raleway fs-9;
      }
    }

    .media-container {
      @apply md:flex md:flex-wrap;
      gap: 64px;
    }

    .media-card {
      @apply mb-56px sm:flex md:mb-0;
      width: calc(50% - 64px);

      @media (max-width: 1440px) {
        width: 100%;
      }

      .btn-text {
        &:focus,
        &:hover {
          @apply underline;
        }
      }

      &-asset {
        @apply flex items-center justify-center;
        height: 100px;
        border: 1px solid var(--gray-6);

        @media (min-width: 768px) {
          height: 220px;
          min-width: 220px;
          max-width: 220px;
        }

        img {
          @apply mx-auto h-auto w-full;
          object-fit: contain !important;
          align-self: center;
        }
      }

      &-text {
        @apply sm:ml-32px;

        .media-card-link {
          .media-card-title {
            @apply no-underline;

            &:hover,
            &:focus {
              @apply text-brand-blue underline;
            }
          }
        }

        .media-card-title {
          @apply text-gray-1 bold-raleway fs-2 my-16px;
        }

        .media-card-date {
          @apply text-gray-3 regular-work-sans fs-0 mb-16px;
        }

        .media-card-description {
          @apply text-gray-2 regular-work-sans fs-0 mb-24px;
        }

        .btn-arrow {
          &:after {
            right: -20px;
            top: 9px;
            width: 18px;
            height: 18px;
            background-color: var(--sample-wp-node-blue);
          }
        }

        @media (min-width: 768px) {
          max-width: 550px;
          width: 100%;
        }
      }
    }
  }
}
